---
---  <!-- kein Frontmatter nötig, außer bei JS/TS -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Faces - neulanc</title>
  </head>
  <body>
    <h1>Welcome to the Partners section!</h1>
    <h1>Partners Directory</h1>
    <p>This could be you here ;)</p>
  </body>
</html>
