---
--- 

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Michael Neuhold</title>
  </head>
  <body>
    <h1>Michael Neuhold</h1>
    <p>wait for it</p>
    <a href="../">back to people</a>
  </body>
</html>