---
---  <!-- kein Frontmatter nötig, außer bei JS/TS -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Faces - neulanc</title>
  </head>
  <body>
    <h1>Welcome to the People section!</h1>
    <h1>People Directory</h1>
    <a href="/neuhold-michael">Michael Neuhold</a>
    here could be your name
  </body>
</html>
